section {
  padding: 1rem;
  background: var(--primary-color);
  border: none;
  border-radius: 16px;

  header {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

.task {
  color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--task-bg);
  padding: .5rem 1rem;
  border-radius: 50px;
  margin-bottom: 1rem;

  strong {
    color: var(--green-color);
  }
}

.add-task {
  padding: 0.5rem 1.5rem;
  border-radius: 50px;

  &::placeholder {
    opacity: 0.5;
  }
}

.no-tasks {
  margin-bottom: 1rem;
  text-align: center;
}
